.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  padding-bottom: 37px;
}

@media screen and (max-width: 636px) {
  .header {
    margin: 0;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
    margin-top: 28px;
    margin-left: 27px;
    padding-bottom: 32px;
  }
}
